.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.education-title{
    position: relative;
}

.education h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    margin-top: 10vh;
}
.education-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    margin-top: 10vh;
}
.education-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}




.container{
	width: 100%;
	padding: 35px 10%;
}
.container{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
/* .col header.title{
	font-family: helvetica;
	color: #11a372;
	padding: 0px 0px 20px 30px;
} */
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
    width: 100vh;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
    height: 20vh;border-radius: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #11a372;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: #11a372;
	font-size: 4vh;
}
.box h3{
	font-size: 3vh;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 3vh;
}

@media(max-width:1150px){
    .education{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .education h1{
        font-size: 8vh;
        padding: 0;
    }
    .education-title h1{
        padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
    /* margin-top: 10vh; */

		
    }
    .education-title img{
        width: 100px;
        right: -20px;
    }
	.box h4{
		position: relative;
		color: #11a372;
		font-size: 3vh;
	}
	.box h3{
		font-size: 2vh;
		padding: 10px 0px 6px;
		font-family: helvetica;
		color: #444;
	}
	.box p{
		line-height: 1.2;
		color: #666;
		font-size: 2vh;
	}
	.col .contents .box{
		/* position: relative;
		padding: 20px;
		border: 1px solid #eaeaea;
		background-color: transparent;
		cursor: pointer;
		transition: all 0.4s;
		margin-bottom: 20px; */
		height: 15vh;
		width: 30vh;
		/* border-radius: 20px; */
	}
	.col .contents {
		/* padding: 0px 30px; */
		border-left: 2px solid #bababa;
		width: 100vh;
	}
    main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}