.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-img{
    width: 50vh;
    margin-top: 80px;
}
.about-title{
    position: relative;
}

.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    margin-top: 10vh;
}

.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections{
    display: flex;
    gap: 80px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center;
    transition: 0.5; */
}
.about-skill p{
    min-height: 50px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement{
    margin-top: 10vh;
}

.about-achievements hr{
    margin-top: 10vh;
}
.about-achievement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg,#DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}

.about-achievement:hover{
    transform: scale(1.12);
    transform: 0.3s;
}

@media(max-width:1150px){
    .about{
        gap: 80px;
        margin-top: 0px;
        margin-left: 30px;
        align-items: start;
    }
    .about-title h1{
        font-size: 30px;
        padding: 0;
    }
    .about-title img{
        width: 100px;
        right: -20px;
    }
    .about-sections{
        flex-direction: column;
        /* width: 100vh; */
    }
    .about-left{
        display: none;
    }
    .about-para {
        font-size: 20px;
        line-height: 1.6;        /* Adjust line height for better readability */
        width: 80%;             /* Limit the paragraph width for a cleaner look */
        margin: 0 auto;         /* Center the paragraph horizontally */
        text-align: justify;    /* Justify the text */
        padding: 10px;          /* Add padding for spacing */
        box-sizing: border-box; /* Include padding in the width calculation */
      }
      
    .about-skill{
        gap: 20px;
        margin: 10vh 0 0 20vh;
        /* width: 250%; */
        width: 80vh;
    }  
    /* .about-skill p{
        font-size: 20px;
    } */
     .about-achievements hr{
        height: 15vh;
        margin: 80px 80px 0 80px;
     }
     .about-achievements{
        display: flex;
        justify-content:space-between;
        width: 100vh;
        margin-top: -100px;
        /* margin-left: 10vh; */
     }
     .about-achievement p{
        text-align: center;
        /* font-size: 16px; */
     }
}

