.footer{
    /* display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px; */
    margin: 0px 70px;
}

.footer-link{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 50px;
    
}

/* .footer-link img{
    
} */

@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-links{
        padding-bottom: 20px;
    }
    .footer-bottom-left hr{
        width: 90vh;
    }
    .footer-link{
        display: flex;
        width: 90%;
    }

}

